## One-Hot encoding for Multi Categorical Variables

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('DataSets/Mercedes Data.csv',
                 usecols= ("X0","X1","X2","X3","X4","X5"))
df.head()

   X0 X1  X2 X3 X4 X5
0   k  v  at  a  d  u
1   k  t  av  e  d  y
2  az  w   n  c  d  x
3  az  t   n  f  d  x
4  az  v   n  f  d  h

##### Value count for X1 column

In [3]:
df.X1.value_counts().sort_values(ascending = False)

aa    833
s     598
b     592
l     590
v     408
r     251
i     203
a     143
c     121
o      82
w      52
z      46
u      37
e      33
m      32
t      31
h      29
y      23
f      23
j      22
n      19
k      17
p       9
g       6
ab      3
d       3
q       3
Name: X1, dtype: int64

##### Let's consider top 10 values

In [4]:
top_10 = df.X1.value_counts().sort_values(ascending = False).head(10).index
top_10

Index(['aa', 's', 'b', 'l', 'v', 'r', 'i', 'a', 'c', 'o'], dtype='object')

##### Extra 10 columns for most frequent variable
label 1 for top 10 values and label 0 for other values

In [5]:
for label in top_10:
     df[label] = np.where(df['X1']==label,1,0)

In [6]:
df

      X0 X1  X2 X3 X4  X5  aa  s  b  l  v  r  i  a  c  o
0      k  v  at  a  d   u   0  0  0  0  1  0  0  0  0  0
1      k  t  av  e  d   y   0  0  0  0  0  0  0  0  0  0
2     az  w   n  c  d   x   0  0  0  0  0  0  0  0  0  0
3     az  t   n  f  d   x   0  0  0  0  0  0  0  0  0  0
4     az  v   n  f  d   h   0  0  0  0  1  0  0  0  0  0
...   .. ..  .. .. ..  ..  .. .. .. .. .. .. .. .. .. ..
4204  ak  s  as  c  d  aa   0  1  0  0  0  0  0  0  0  0
4205   j  o   t  d  d  aa   0  0  0  0  0  0  0  0  0  1
4206  ak  v   r  a  d  aa   0  0  0  0  1  0  0  0  0  0
4207  al  r   e  f  d  aa   0  0  0  0  0  1  0  0  0  0
4208   z  r  ae  c  d  aa   0  0  0  0  0  1  0  0  0  0

[4209 rows x 16 columns]

##### Lets Create Functioin for One Hot Encoding

In [7]:
def Ohe_MV(feature,n):
    top_n = df[feature].value_counts().sort_values(ascending = False).head(n).index
    for label in top_n:
        df[label] = np.where(df[feature]==label,1,0)
    return df

In [10]:
Ohe_MV("X3",10)

      X0 X1  X2 X3 X4  X5  aa  s  b  l  v  r  i  a  c  o  f  d  g  e
0      k  v  at  a  d   u   0  0  0  0  1  0  0  1  0  0  0  0  0  0
1      k  t  av  e  d   y   0  0  0  0  0  0  0  0  0  0  0  0  0  1
2     az  w   n  c  d   x   0  0  0  0  0  0  0  0  1  0  0  0  0  0
3     az  t   n  f  d   x   0  0  0  0  0  0  0  0  0  0  1  0  0  0
4     az  v   n  f  d   h   0  0  0  0  1  0  0  0  0  0  1  0  0  0
...   .. ..  .. .. ..  ..  .. .. .. .. .. .. .. .. .. .. .. .. .. ..
4204  ak  s  as  c  d  aa   0  1  0  0  0  0  0  0  1  0  0  0  0  0
4205   j  o   t  d  d  aa   0  0  0  0  0  0  0  0  0  1  0  1  0  0
4206  ak  v   r  a  d  aa   0  0  0  0  1  0  0  1  0  0  0  0  0  0
4207  al  r   e  f  d  aa   0  0  0  0  0  1  0  0  0  0  1  0  0  0
4208   z  r  ae  c  d  aa   0  0  0  0  0  1  0  0  1  0  0  0  0  0

[4209 rows x 20 columns]