## Ordinal features Encoding

In [2]:
import pandas as pd
import numpy as np
import datetime as dt

##### Let's choose random days

In [70]:
df = []
for i in range(1,20,3):
    for j in range(1,12):
        dy = dt.datetime(2020,j,i)
        df.append(dy.strftime("%a"))

In [77]:
df = pd.DataFrame(df,columns=['day'])

In [80]:
df.head(10)

   day
0  Wed
1  Sat
2  Sun
3  Wed
4  Fri
5  Mon
6  Wed
7  Sat
8  Tue
9  Thu

###### This is the expected order on which we going to train the model

In [81]:
days_name = {
        "Sun": 0,
        "Mon": 1,
        "Tue": 2,
        "Wed": 3,
        "Thu": 4,
        "Fri": 5,
        "Sat": 6
    
}

###### Here we use map function to assing ordered labels to the respected days

In [83]:
df['ord_label'] = df.day.map(days_name)
df.head(10)

   day  ord_label
0  Wed          3
1  Sat          6
2  Sun          0
3  Wed          3
4  Fri          5
5  Mon          1
6  Wed          3
7  Sat          6
8  Tue          2
9  Thu          4